{:paths ["src/main/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        com.google.api-client/google-api-client {:mvn/version "1.31.4"}
        com.google.apis/google-api-services-sheets {:mvn/version "v4-rev612-1.25.0"}
        com.google.apis/google-api-services-drive {:mvn/version "v3-rev197-1.25.0"}
        com.google.oauth-client/google-oauth-client-jetty {:mvn/version "1.31.5"}
        clj-http/clj-http {:mvn/version "3.12.1"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        incanter/incanter {:mvn/version "1.9.3" :exclusions [com.lowagie/itext]}}

 :aliases
 {:examples {:extra-paths ["src/test/clojure"
                           "examples"]
             :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                          selmer/selmer {:mvn/version "1.12.31"}
                          org.clojure/test.check {:mvn/version "1.1.0"}}}

  :google-oauth2 {:exec-fn edmondson.google-api/generate-token
                  :exec-args {:token-directory "./tokens"}}

  :upload {:exec-fn edmondson.google-api/upload
           :exec-args {:token-directory "./tokens"}}

  :jupyter {:extra-deps {clojupyter/clojupyter {:mvn/version "0.3.3-alpha2"}}}

  :depstar
  {:extra-deps
   {seancorfield/depstar {:mvn/version "1.1.136"}}
   :ns-default hf.depstar
   :exec-args {}}

  :test {:extra-paths ["src/test/clojure"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      com.cognitect/test-runner
                      {:local/root "../test-runner"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "src/test/clojure"]}} }
